@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

html {
  font-family: 'Spectral SC', serif;
  background-image: url('https://background-tiles.com/overview/mixed-colors/patterns/large/1090.png');
}
a {
  text-decoration: none;
  color: pink;
}
