@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

html {
  font-family: 'Spectral SC', serif;
  background-image: url('https://st2.depositphotos.com/1000848/9925/i/950/depositphotos_99256066-stock-photo-texture-of-tile-seamless-background.jpg');
}
a {
  text-decoration: none;
  color: pink;
}
