@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,700;1,600;1,700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #abce23;
}
h1 {
    color: #0c81c4;
}
p strong {
    color: #28af7c;
}
p a em {
    color: #182afc;
}
p a {
    text-decoration: none;
}
p a em:hover {
    color: #11012d;
}
a.redirect-option {
    text-decoration: none;
    color: #182afc;
}
a.redirect-option:hover {
    color: #18456f;
}
a.redirect-option:visited {
    color: #182afc;
}
	    

